@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.main-container {
    box-sizing: border-box;
    background-color: white;
    display: flex;
}

.all-card{
  display: flex;
  flex-direction: row;
  column-gap: 6rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card-1 {
    background-color: whitesmoke;
    margin-left: 3rem;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    margin-bottom: 3rem;
    margin-top: 1rem;
    width: 40%;
    padding: 12px 12px 25px 12px;
  
  }
  
  .face {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .card-1 .write-up1 .profile{
    display: flex;
    column-gap: 1rem;
    margin-bottom: 2.5rem;
  }
  
  .card-1 .write-up1 .name {
    display: flex;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid hsl(220, 14%, 75%);
    column-gap: 1rem;
  
    
  }
  
  .write-up1 .name h4 {
    color: silver;
    font-weight: 500;
    white-space: nowrap;
  }
  
  .write-up1 .name p {
    margin-right: 6.4rem;
    color: silver;
    font-weight: 500;
    white-space: nowrap;
  }
  
  .write-up1 .profile h3 {
    color: black;
    white-space: nowrap;
  }
  
  .write-up1 .profile p {
    color: darkgray;
    font-weight: 500;
    font-size: 14px; 
    white-space: nowrap;
  }
  
  
  .write-up1 .sms {
    display: flex;
    margin-top: 2rem;
  }

  .card-1 .sms .fa{
    margin-left: 1rem;
    font-size: 12px;
    color: green;
    margin-top: 9px;
  
  }
  
  .card-1 .sms h3 {
    color: orange;
  }
  
  .write-up1 .mail {
    color: darkgray;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid hsl(220, 14%, 75%);
  
  }
  
  .card-1 .save {
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 7rem;
    width: 45%;
    box-shadow: none;
    height: 50px;
    color: white;
    font-size: 25px;
    font-weight: 600;
    border-radius: 2rem;
    background-color: orange;
  }


.card-2 {
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
  width: 100%;
  background-color: whitesmoke;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  padding: 10px 15px 10px 20px;
  border-radius: 10px;
}

.card-2 .account {
  margin-top: 9px;
}
.card-2 .account-1{
  display: flex;
  border-bottom: 1px solid hsl(220, 14%, 75%);

}

.card-2 .account-1 .nav-left1 {
  margin-left: 6rem; 
  padding-bottom: 1rem;
}

.card-2 .account-1 .nav-left1 .edit {
  width: 4.2rem;
  box-shadow: none;
  color: white;
  font-size: 10px;
  font-weight: 700;
  padding: 10px;
  border-radius: 15px;
}

.card-2 .account-1 .nav-left1 .fa {
  color: silver;
  margin-right: 13px;
}

.card-2 .account-1 .account {
  color: black;
  font-weight: 600;
}

.card-2 .account-2{
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card-2 .account-3 .active-account {
  line-height: 1.8rem;
}

.card-2 .account-2 .nav-left2 {
  margin-left: 5rem; 
  padding-bottom: 3rem; 
}

.card-2 .account-2 .active-account {
  line-height: 1.8rem;
}


.card-2 .account-2 .nav-left2 .block {
  box-shadow: none;
  color: white;
  margin-top: 10px;
  font-size: 10px;
  font-weight: 700;
  padding: 10px;
  border-radius: 15px;
  background-color: orangered;

}

.card-2 .account-3{
  display: flex;
}

.card-2 .blocked-account{
  line-height: 1.8rem;
}

.card-2 .account-3 .nav-left3 {
  margin-left: 5rem;
  padding-bottom: 2rem;  
}

.card-2 .account-3 .blocked-account {
  line-height: 1.8rem;
}

.card-2 .account-3 .nav-left3 .unblock {
  box-shadow: none;
  color: white;
  font-size: 10px;
  font-weight: 700;
  padding: 10px;
  border-radius: 15px;
  background-color: greenyellow;
  margin-top: 10px;

}


.card-3 {
    background-color: whitesmoke;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    padding: 10px 15px 25px 25px;
    border-radius: 10px;
    width: 100%;
    margin-top: 2.5rem;

}

.card-3 .bills {
  display: flex;
}

.card-3 .phonebill {
  display: flex;
  margin-top: 1.3rem;
  margin-bottom: 1.5rem;
}

.card-3 .houserent{
  display: flex;
  margin-bottom: 1.5rem;
}

.card-3 .incometax {
  display: flex;
}

.card-3 .internetbill {
  display: flex;
  margin-bottom: 1.5rem;
}

.card-3 .bills .nav-right1  .filter{
  margin-left: 11.6rem;
  padding: 10px;
  height: 35px;
  width: 30%;
  border-radius: 2rem;
  top: 19px;
  color: silver;
  font-weight: bolder;

}

.card-3 .bills {
  border-bottom: 1px solid hsl(220, 14%, 75%);
  padding-bottom: 1rem;
}

.card-3 .bills .my-bills {
  color: black;
  font-size: 20px;
  margin-right: 10px;
  font-weight: 600;
}

.card-3 .phonebill .left-1{
  display: flex;

}
.card-3 .phonebill .left-1 .fa{
  font-size: 15px;
  color: greenyellow;
  margin-top: 8px;
}

.card-3 .phonebill .left-1 h3 {
  margin-left: 1rem;

}

.card-3 .phonebill .nav-right2 .paid1{
  margin-left: 9.8rem;
 width: 30%;
 height: 32px;
 padding: 7px;
 border-radius: 2rem;
 background-color: greenyellow;
}


.card-3 .internetbill .left-2{
  display: flex;
}

.card-3 .internetbill  .nav-right3 .paid2{
  margin-left: 9rem;
width: 30%;
height: 32px;
padding: 7px;
border-radius: 2rem;
background-color: darkred;
}

.card-3 .internetbill  .left-2 .fa {
  font-size: 15px;
  color:darkred;
  margin-top: 8px;
}

.card-3 .internetbill .left-2 h3 {
  margin-left: 1rem;
}

.card-3 .houserent .left-3 {
  display: flex;
}

.card-3 .houserent  .nav-right4 .paid3{
  margin-left: 9.2rem;
  width: 30%;
  height: 32px;
  padding: 7px;
  border-radius: 2rem;
  background-color: greenyellow;
}

.card-3 .houserent .left-3 h3 {
  margin-left: 1rem;
}

.card-3 .houserent .left-3 .fa {
  font-size: 15px;
  color:greenyellow;
  margin-top: 8px;
}

.card-3 .incometax .left-4 {
  display: flex;
}

.card-3 .incometax .nav-right5 .paid4 {
  margin-left: 9.2rem;
  width: 30%;
  height: 32px;
  padding: 7px;
  border-radius: 2rem;
  background-color: greenyellow;

}

.card-3 .incometax .left-4 h3 {
  margin-left: 1rem;
}

.card-3 .incometax  .left-4 .fa {
  font-size: 15px;
  color: greenyellow;
  margin-top: 8px;
}


@media screen and (max-width: 1024px){
  .main-container {
    box-sizing: border-box;
    background-color: white;
    display: flex;
}

.all-card{
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card-1 .profile p{
white-space: wrap;
}

.card-1{
  padding-bottom: 76px;
}

.card-1 .save {
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 5rem;
  width: 45%;
  box-shadow: none;
  height: 50px;
  color: white;
  font-size: 25px;
  font-weight: 600;
  border-radius: 2rem;
  background-color: orange;
}

.card-1 .name p{
  font-size: 16px;
}

}


@media screen and (max-width: 768px){

  .main-container {
    box-sizing: border-box;
    background-color: magenta;
    display: flex;
}

.all-card{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  column-gap: 1.5rem;
}

.card-1 {
  padding-bottom: 50px;
}

.card-1 .save {
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 6rem;
  width: 45%;
  box-shadow: none;
  height: 50px;
  color: white;
  font-size: 25px;
  font-weight: 600;
  border-radius: 2rem;
  background-color: orange;
}


.card-1 .profile p{
  white-space: wrap;
  font-size: 15px;
}

.card-3 {
  margin-top: 1rem;
  padding-bottom: 10px;
  margin-bottom: 2rem;
}

.card-3 .bills .my-bills {
  font-size: 15px;
  white-space: nowrap;
  margin-top: 22px;
}

.card-3 .bills .nav-right1 {
  font-size: 15px;
  margin-top: 10px;
}

.card-3 .phonebill h3 {
  font-size: 15px;
  white-space: nowrap;
}

.card-3 .phonebill .nav-right2{
  margin-left: -10px;
}

.card-3 .internetbill h3 {
  font-size: 15px;
  white-space: nowrap;
}

.card-3 .houserent h3 {
  font-size: 15px;
  white-space: nowrap;
}

.card-3 .incometax h3 {
  font-size: 15px;
  white-space: nowrap;
}

}



@media screen and (max-width: 760px){
  .main-container {
    box-sizing: border-box;
    background-color: white;
    display: flex;
}

.all-card{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.card-1 {
  width: 100%;
  margin: 0;
  position: relative;
  top: -33px;
}

.card-1 .write-up1 h3{
white-space: nowrap;
font-size: 16px;
}

.card-1 .profile{
  column-gap: 1rem;
  font-size: 16px;
}

.card-1 .write-up1 h4 {
  white-space: nowrap;
  font-size: 16px;
}

.card-1 .name {
  column-gap: 1rem;
}

.card-1 .name p {
  white-space: nowrap;
  font-size: 16px;
}

.card-1 .save {
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 7rem;
  width: 45%;
  box-shadow: none;
  height: 50px;
  color: white;
  font-size: 25px;
  font-weight: 600;
  border-radius: 2.3rem;
  background-color: orange;
}

.card-2 {
  margin-bottom: 1rem;
}

.card-2 .account-3 .nav-left3 .unblock {
  box-shadow: none;
  color: white;
  font-size: 10px;
  font-weight: 700;
  padding: 12px;
  border-radius: 15px;
  background-color: greenyellow;
  margin-top: 10px;

}

.card-2 .account-2 .nav-left2 .block {
  box-shadow: none;
  color: white;
  margin-top: 10px;
  font-size: 10px;
  font-weight: 700;
  padding: 12px;
  border-radius: 15px;
  background-color: orangered;

}

.card-2 .account-1 .nav-left1 .edit {
  width: 4.2rem;
  box-shadow: none;
  color: white;
  font-size: 12px;
  font-weight: 700;
  padding: 12px;
  border-radius: 15px;
}

.name p{
  color: silver;
  font-size: 16px;
}

.card-2 .active-account {
  color: black;
}

.card-2 .blocked-account {
  color: black;
}
}



/* done */
@media screen and (max-width: 540px){
  .main-container {
    box-sizing: border-box;
    background-color: white;
    display: flex;
    width: 100%;
}

.all-card{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.card-1 .profile {
  font-size: 16px;
}

.card-1 .profile p{
  font-size: 15px;
}

.card-1 .profile h3{
  font-size: 19px;
}

.card-1 .name {
  font-size: 19px;
}

.card-1 .mail{
font-size: 19px;
}

.card-1 .sms {
  font-size: 19px;
}

.card-2  .account{
white-space: nowrap;
font-size: 19px;
margin-top: 11px;
}

.card-2 .account-2 {
  white-space: nowrap;
  font-size: 19px;
} 

.card-2 .account-3 {
  white-space: nowrap;
  font-size: 19px;
} 

.card-3 .bills .my-bills {
  font-size: 19px;
  white-space: nowrap;
  margin-top: 22px;
}

.card-3 .bills .nav-right1 {
  margin-left: -20px;
  font-size: 19px;
  margin-top: 10px;
}

.card-3 .phonebill h3 {
  font-size: 19px;
  white-space: nowrap;
}

.card-3 .phonebill .nav-right2{
  margin-left: -10px;
}

.card-3 .internetbill h3 {
  font-size: 19px;
  white-space: nowrap;
}

.card-3 .houserent h3 {
  font-size: 19px;
  white-space: nowrap;
}

.card-3 .incometax h3 {
  font-size: 19px;
  white-space: nowrap;
}

}


/* done */
@media screen and (max-width: 425px){
  .main-container {
    box-sizing: border-box;
    background-color: white;
    display: flex;
    width: 100%;
}

.all-card{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.card-1 .profile {
  font-size: 15px;
}

.card-1 .profile p{
  font-size: 13px;
}

.card-1 .profile h3{
  font-size: 17px;
}

.card-1 .name {
  font-size: 17px;
}

.card-1 .name p{
 color: silver;
  font-size: 17px;
}
.card-1 .mail{
font-size: 17px;
}

.card-1 .sms {
  font-size: 17px;
}

.card-2  .account{
white-space: nowrap;
font-size: 17px;
margin-top: 11px;
}

.card-2 .account-2 {
  white-space: nowrap;
  font-size: 17px;
} 

.card-2 .account-3 {
  white-space: nowrap;
  font-size: 17px;
} 

.card-3 .bills .my-bills {
  font-size: 17px;
  white-space: nowrap;
  margin-top: 22px;
}

.card-3 .bills .nav-right1 {
  margin-left: -20px;
  font-size: 17px;
  margin-top: 10px;
}

.card-3 .phonebill h3 {
  font-size: 17px;
  white-space: nowrap;
}

.card-3 .phonebill .nav-right2{
  margin-left: -10px;
}

.card-3 .internetbill h3 {
  font-size: 17px;
  white-space: nowrap;
}

.card-3 .houserent h3 {
  font-size: 17px;
  white-space: nowrap;
}

.card-3 .incometax h3 {
  font-size: 17px;
  white-space: nowrap;
}

}

@media screen and (max-width: 380px){
  .main-container {
    box-sizing: border-box;
    background-color: white;
    display: flex;
    width: 100%;
}

.all-card{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.card-1 .save {
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 6rem;
  width: 45%;
  box-shadow: none;
  height: 50px;
  color: white;
  font-size: 25px;
  font-weight: 600;
  border-radius: 2rem;
  background-color: orange;
}


.card-1 .profile {
  font-size: 11px;
}

.card-1 .profile p{
  font-size: 14px;
}

.card-1 .name {
  font-size: 14px;
}

.card-1 .mail{
font-size: 14px;
}

.card-1 .sms {
  font-size: 14px;
}

.card-2  .account{
white-space: nowrap;
font-size: 11px;
margin-top: 11px;
}

.card-2 .account-2 {
  white-space: nowrap;
  font-size: 11px;
} 

.card-2 .account-3 {
  white-space: nowrap;
  font-size: 11px;
} 

.card-3 .bills .my-bills {
  font-size: 11px;
  white-space: nowrap;
  margin-top: 22px;
}

.card-3 .bills .nav-right1 {
  position: relative;
  left: -20px;
  font-size: 11px;
  margin-top: 10px;
}

.card-3 .phonebill h3 {
  font-size: 11px;
  white-space: nowrap;
}

.card-3 .phonebill .nav-right2{
  margin-left: -10px;
}

.card-3 .internetbill h3 {
  font-size: 11px;
  white-space: nowrap;
}

.card-3 .houserent h3 {
  font-size: 11px;
  white-space: nowrap;
}

.card-3 .incometax h3 {
  font-size: 11px;
  white-space: nowrap;
}

}



@media screen and (max-width: 320px){
  .main-container {
    box-sizing: border-box;
    background-color: white;
    display: flex;
    width: 100%;
}

.all-card{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.card-1 .save {
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 6rem;
  width: 45%;
  box-shadow: none;
  height: 50px;
  color: white;
  font-size: 25px;
  font-weight: 600;
  border-radius: 2rem;
  background-color: orange;
}


.card-1 .profile {
  font-size: 11px;
}

.card-1 .profile p{
  font-size: 12px;
}

.card-1 .name {
  font-size: 11px;
}

.card-1 .mail{
font-size: 14px;
}

.card-1 .sms {
  font-size: 14px;
}

.card-2  .account{
white-space: nowrap;
font-size: 11px;
margin-top: 11px;
}

.card-2 .account-2 {
  white-space: nowrap;
  font-size: 11px;
} 

.card-2 .account-3 {
  white-space: nowrap;
  font-size: 11px;
} 

.card-2 .block {
  margin-left: -2.1rem;
}

.card-2 .unblock {
  margin-left: -3.1rem;
}


.card-3 .bills .my-bills {
  font-size: 11px;
  white-space: nowrap;
  margin-top: 22px;
}

.card-3 .bills .nav-right1 {
  position: relative;
  left: -20px;
  font-size: 11px;
  margin-top: 10px;
}

.card-3 .phonebill h3 {
  font-size: 11px;
  white-space: nowrap;
}

.card-3 .phonebill .nav-right2{
  margin-left: -10px;
}

.card-3 .internetbill h3 {
  font-size: 11px;
  white-space: nowrap;
}

.card-3 .houserent h3 {
  font-size: 11px;
  white-space: nowrap;
}

.card-3 .incometax h3 {
  font-size: 11px;
  white-space: nowrap;
}

}


/* done */
@media screen and (max-width: 280px){
  .main-container {
    box-sizing: border-box;
    background-color: white;
    display: flex;
    width: 100%;
}

.all-card{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.card-1 .save{
  margin-left: 5rem;
}

.card-1 .profile p{
  line-height: 1.3rem;
  font-size: 12px;
}

.card-1 .profile h3 {
  font-size: 15px;
}

.card-1 .name{
  font-size: 15px;
}

.card .name p{
  white-space: wrap;
}

.card-1 .mail{
  font-size: 15px;
}

.card-1 .sms{
  font-size: 15px;
}

.card-2 .account{
  font-size: 15px;
}

.card-2 .account-1 .edit {
  /* margin-left: -1.5rem; */
}

.card-2 .block {
  margin-left: -2rem;
}

.card-2 .unblock {
  margin-left: -2.5rem;
}

.card-2 .active-account{
  font-size: 11px;
}

.card-2 .blocked-account{
  font-size: 11px;
}


.card-2 .account-1 .nav-left1 {
  display: flex;
  flex-direction: row;
  margin-left: 1.5rem;
  justify-content: space-between;
}


.card-3 .bills .nav-right1{
  margin-left: -3.9rem;
}

.card-3 .phonebill .nav-right2{
  margin-left: -3.5rem;
}


.card-3 .internetbill .nav-right3 {
  margin-left: -2.9rem;
}

.card-3 .houserent .nav-right4 {
  margin-left: -2.9rem;
}

.card-3 .incometax .nav-right5 {
  margin-left: -2.9rem;
}

.card-3  .bills .my-bills{
  font-size: 16px;
  font-weight: 600;
}



}

@media screen and (max-width: 279px){
  .main-container {
    box-sizing: border-box;
    background-color: white;
    display: flex;
    width: 100%;
}

.all-card{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.card-1 .save{
  margin-left: 5rem;
}

.card-1 .profile p{
  line-height: 1.3rem;
  font-size: 12px;
}

.card-1 .profile h3 {
  font-size: 15px;
}

.card-1 .name{
  font-size: 15px;
}

.card .name p{
  white-space: wrap;
}

.card-1 .mail{
  font-size: 15px;
}

.card-1 .sms{
  font-size: 15px;
}

.card-2 .account{
  font-size: 15px;
}

.card-2 .account-1 .edit {
  /* margin-left: -1.5rem; */
}

.card-2 .block {
  margin-left: -2.5rem;
}

.card-2 .unblock {
  margin-left: -3.5rem;
}

.card-2 .active-account{
  font-size: 11px;
}

.card-2 .blocked-account{
  font-size: 11px;
}


.card-2 .account-1 .nav-left1 {
  display: flex;
  flex-direction: row;
  margin-left: 1.5rem;
  justify-content: space-between;
}


.card-3 .bills .nav-right1{
  margin-left: -3.9rem;
}

.card-3 .phonebill .nav-right2{
  margin-left: -3.5rem;
}


.card-3 .internetbill .nav-right3 {
  margin-left: -2.9rem;
}

.card-3 .houserent .nav-right4 {
  margin-left: -2.9rem;
}

.card-3 .incometax .nav-right5 {
  margin-left: -2.9rem;
}

.card-3  .bills .my-bills{
  font-size: 16px;
  font-weight: 600;
}



}

@media screen and (min-width: 281px) and (max-width: 317px){
.main-container{
  background-color: white;
}

.card-2 .edit {
  margin-left: -3.6rem;
}

.card-1 .mail {
  font-size: 14px;
}

.card-3 .bills .nav-right1{
  margin-left: -4.2rem;
}

.card-3 .phonebill .nav-right2{
  margin-left: -3.5rem;
}


.card-3 .internetbill .nav-right3 {
  margin-left: -2.9rem;
}

.card-3 .houserent .nav-right4 {
  margin-left: -2.9rem;
}

.card-3 .incometax .nav-right5 {
  margin-left: -2.9rem;
}

.card-3  .bills .my-bills{
  font-size: 16px;
  font-weight: 600;
}

}

@media screen and (max-width: 274px){
  .main-container{
    background-color: white;
  }
  
  .card-2 .edit {
    margin-left: -0.5rem;
  }
  
  .card-1 .mail {
    font-size: 14px;
  }
  
  .card-3 .bills .nav-right1{
    margin-left: -5rem;
  }
  
  .card-3 .phonebill .nav-right2{
    margin-left: -3.6rem;
  }
  
  
  .card-3 .internetbill .nav-right3 {
    margin-left: -3rem;
  }
  
  .card-3 .houserent .nav-right4 {
    margin-left: -3rem;
  }
  
  .card-3 .incometax .nav-right5 {
    margin-left: -3rem;
  }
  
  .card-3  .bills .my-bills{
    font-size: 16px;
    font-weight: 600;
  }
  
}
@media screen and (max-width: 260px){
  .main-container{
    background-color: aqua;
  }
  
  .card-2 .edit {
    margin-left: -0.5rem;
  }
  
  .card-2 .block {
    margin-right: -4.5rem;
  }

  .card-2 .unblock {
    margin-right: 4.5rem;
  }

  .card-1 .mail {
    font-size: 14px;
  }
  
  .card-3 .bills .nav-right1{
    margin-left: -5rem;
  }
  
  .card-3 .phonebill .nav-right2{
    margin-left: -4rem;
  }
  
  
  .card-3 .internetbill .nav-right3 {
    margin-left: -3.9rem;
  }
  
  .card-3 .houserent .nav-right4 {
    margin-left: -3.9rem;
  }
  
  .card-3 .incometax .nav-right5 {
    margin-left: -3.9rem;
  }
  
  .card-3  .bills .my-bills{
    font-size: 16px;
    font-weight: 600;
  }
  
}


