@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.main-container {
    height: 100vh;
    width: 100%;
    background-color: white;
    margin-bottom: 2rem;
    padding-top: 1rem;
    background-image: url(../img/backg1.jpeg);
}

.all-card {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    padding-top: 0.7rem;
    padding-bottom: 1.5rem;
}
.card-1 {
    background-color: whitesmoke;
    margin-left: 3rem;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    margin-top: 3rem;
    margin-top: 2rem;
    width: 40%;
    padding: 12px 12px 3px 12px;

}

.face {
    width: 100%;
    margin-bottom: 1rem;
}

.card-1 .write-up1 .profile{
    display: flex;
    margin-left: 1rem;
    justify-content: space-between;
    margin-bottom: 2.5rem;
}

.card-1 .write-up1 .name {
    display: flex;
    margin-left: 1rem;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid hsl(220, 14%, 75%);

    
}

.write-up1 .name h4 {
    color: silver;
    font-weight: 500;
}

.write-up1 .name p {
    margin-right: 6.4rem;
    color: silver;
    font-weight: 500;
}

.write-up1 .profile h3 {
    color: black;
}

.write-up1 .profile p {
    color: darkgray;
    font-weight: 500;  
}


.write-up1 .sms {
    display: flex;
    margin-top: 2rem;
    margin-left: 1rem;
}
.card-1 .sms .fa{
    margin-left: 1rem;
    font-size: 15px;
    color: green;
    margin-top: 0.3rem;

}

.card-1 .sms h3 {
    color: orange;
}

.write-up1 .mail {
    margin-left: 1rem;
    color: darkgray;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid hsl(220, 14%, 75%);

}

.card-1 .save {
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 7rem;
    width: 45%;
    box-shadow: none;
    height: 50px;
    color: white;
    font-size: 25px;
    font-weight: 600;
    border-radius: 2rem;
    background-color: orange;
    
}













.card-2  .account-1{
    display: flex;
    border-bottom: 1px solid hsl(220, 14%, 75%);
}

.card-2 .account-2{
    display: flex;

}

.card-2 .account-3{
    display: flex;
}

.card-2 {
    position: absolute;
    left: 30rem;
    top: 67px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    padding: 20px 15px 30px 20px;
    border-radius: 10px;
    width: 40%;
}

.card-2 .account-1 .nav-left1 {
  margin-left: 6rem; 
  padding-bottom: 1rem; 
  
}


.card-2 .account-1 .nav-left1 .edit {
    
    position: absolute;
    top: 15px;
    width: 23%;
    box-shadow: none;
    height: 30px;
    color: white;
    font-size: 10px;
    font-weight: 700;
    padding: 13px;
    border-radius: 15px;
}

.card-2 .account-1 .nav-left1 .fa {
color: silver;
margin-right: 10px;
}







.card-2 .account-2{
    margin-top: 1rem;margin-bottom: 1rem;
}

.card-2 .account-2 .nav-left2 {
    margin-left: 5rem; 
    padding-bottom: 3rem; 
  }

  .card-2 .account-2 .active-account {
    line-height: 1.5rem;
  }
  .card-2 .account-2 .nav-left2 .block {
    
    position: absolute;
    width: 30%;
    box-shadow: none;
    height: 30px;
    color: white;
    font-size: 10px;
    font-weight: 700;
    padding: 10px;
    border-radius: 15px;
    background-color: orangered;

  }




  .card-2 .account-3 .nav-left3 {
    margin-left: 5rem;
    padding-bottom: 2rem;  
  }

  .card-2 .account-3 .blocked-account {
    line-height: 1.5rem;
  }

  .card-2 .account-3 .nav-left3 .unblock {
    
    position: absolute;
    width: 30%;
    box-shadow: none;
    height: 30px;
    color: white;
    font-size: 10px;
    font-weight: 700;
    padding: 10px;
    border-radius: 15px;
    background-color: greenyellow;

  }

  




  .card-3 .bills {
    display: flex;
  }
  .card-3 .phonebill {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .card-3 .houserent{
    display: flex;
    margin-bottom: 2rem;
  }
  .card-3 .incometax {
    display: flex;
  }
  .card-3 .internetbill {
    display: flex;
    margin-bottom: 2rem;
  }

  .card-3 {
    position: absolute;
    left: 30rem;
    top: 310px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    padding: 20px 15px 50px 25px;
    border-radius: 10px;
    width: 40%;
}

.card-3 .bills .nav-right1  .filter{
    position: absolute;
    right: 23px;
    padding: 10px;
    height: 35px;
    width: 26%;
    border-radius: 2rem;
    top: 19px;
    color: silver;

}

.card-3 .bills {
    border-bottom: 1px solid hsl(220, 14%, 75%);
    padding-bottom: 1rem;
}

.card-3 .bills .my-bills {
    color: black;
    font-size: 25px;
    margin-right: 10px;
    font-weight: 600;
}

.card-3 .phonebill .left-1{
    display: flex;

}
.card-3 .phonebill .left-1 .fa{
    font-size: 22px;
    color: greenyellow;
}

.card-3 .phonebill .left-1 h3 {
    margin-left: 1rem;
}

.card-3 .phonebill .nav-right2 .paid1{
   position: absolute; 
   right: 10px;
   width: 30%;
   height: 32px;
   padding: 7px;
   border-radius: 2rem;
   background-color: greenyellow;
}


.card-3 .internetbill .left-2{
    display: flex;
}

 .card-3 .internetbill  .nav-right3 .paid2{
position: absolute;
right: 8px;
width: 30%;
height: 32px;
padding: 7px;
border-radius: 2rem;
background-color: darkred;
}

.card-3 .internetbill  .fa .dot {
    color:brown
}

.card-3 .internetbill .left-2 h3 {
    margin-left: 1rem;
}





.card-3 .houserent .left-3 {
    display: flex;
}

.card-3 .houserent  .nav-right4 .paid3{
    position: absolute;
    right: 8px;
    width: 30%;
    height: 32px;
    padding: 7px;
    border-radius: 2rem;
    background-color: greenyellow;
}

.card-3 .houserent .left-3 h3 {
    margin-left: 1rem;
}



.card-3 .incometax .left-4 {
    display: flex;
}

.card-3 .incometax .nav-right5 .paid4 {
    position: absolute;
    right: 8px;
    width: 30%;
    height: 32px;
    padding: 7px;
    border-radius: 2rem;
    background-color: greenyellow;

}

.card-3 .incometax .left-4 h3 {
    margin-left: 1rem;
}

.mobile-device {
    display: none;
}



@media screen and (max-width: 760px) {

    .card2-3{
        display: flex;
        flex-direction: column;
    }
}