@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

*
{
padding: 0;
margin: 0;
text-decoration: none;
box-sizing: border-box;
}

.both-words { 
display: flex;
flex-direction: row;
}

.word .word-1-2 {
    display: flex;
    column-gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.word-1 {
    margin-left: 1.3rem;
    background-color: hsl(263, 55%, 52%);
    width: 70%;
    padding-top: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 0.4rem;
}

.word-1 .sub1{
    display: flex;

}

.word-1 .sub1 h2{
    font-size: 15px;
    font-weight: 700;
    color: white;
    line-height: 1.7rem;
    padding-left: 1.5rem;
}

.word-1 .sub1 .man1 {
    border-radius: 50%;
}

.word-1 h3 {
    color: white;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.6rem;
    padding-bottom: 0.6rem;
}

.word-1 p{
    color: white;
    font-weight: 400;
    line-height: 1.4rem;
    font-size: 14px;
}

.word-2 {
    background-color: hsl(217, 19%, 35%);
    width: 30%;
    margin-right: 0.6rem;
    padding-top: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 0.4rem;
}

.word-2 .sub2 {
    display: flex;
}

.word-2 .sub2 h2{
    font-size: 15px;
    font-weight: 700;
    color: white;
    line-height: 1.4rem;
    padding-left: 1.5rem;
}

.word-2 .man2 {
    border-radius: 50%;
}

.word-2 h3 {
    color: white;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.6rem;
    padding-bottom: 0.6rem;
}

.word-2 p{
    color: white;
    font-weight: 400;
    line-height: 1.4rem;
    font-size: 14px;
}


.word-3-4 {
    display: flex;
    column-gap: 0.6rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.word-3{
    background-color: hsl(0, 0%, 81%);
    margin-left: 1.2rem;
    padding-top: 0.5rem;
    padding-left: 1.5rem;
    padding-bottom: 6rem;
    border-radius: 0.4rem;
}

.word-3 .sub3 {
    display: flex;
}


.word-3 .sub3 h2{
    font-size: 15px;
    font-weight: 700;
    color: white;
    line-height: 1.7rem;
    padding-left: 1.5rem;
}

.word-3 .sub3 .man3 {
    border-radius: 50%;
}

.word-3 h3 {
    color: white;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.6rem;
    padding-bottom: 0.6rem;
}

.word-3 p{
    color: white;
    font-weight: 400;
    line-height: 1.4rem;
    font-size: 14px;
}


.word-4{
    background-color: hsl(219, 29%, 14%);
    margin-left: 1.2rem;
    margin-right: 0.7rem;
    padding-top: 0.5rem;
    padding-left: 1.5rem;
    padding-bottom: 10rem;
    border-radius: 0.4rem;
}

.word-4 .sub4 {
    display: flex;
}


.word-4 .sub4 h2{
    font-size: 15px;
    font-weight: 700;
    color: white;
    line-height: 1.7rem;
    padding-left: 1.5rem;
}

.word-4 .sub4 .man4 {
    border-radius: 50%;
}

.word-4 h3 {
    color: white;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.6rem;
    padding-bottom: 0.6rem;
}

.word-4 p{
    color: white;
    font-weight: 400;
    line-height: 1.4rem;
    font-size: 14px;
}


.word-5 {
    margin-left: 1.3rem;
    background-color: gainsboro;
    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 2rem;
    width: 20%;
    border-radius: 0.4rem;
    margin-right: 1rem;
}

.word-5 .sub5{
    display: flex;

}

.word-5 .sub5 h2{
    font-size: 15px;
    font-weight: 700;
    color: black;
    line-height: 1.7rem;
    padding-left: 1.1rem;
    white-space: wrap;
}

.word-5 .sub5 .man5 {
    border-radius: 50%;
}

.word-5 h3 {
    color: black;
    font-size: 17px;
    font-weight: 900;
    line-height: 1.6rem;
    padding-bottom: 0.6rem;
    white-space: wrap;
    padding-right: 0.5rem;
}

.word-5 p{
    color: silver;
    font-weight: 400;
    line-height: 1.4rem;
    font-size: 14px;
}
@media screen and (max-width: 1024px){

.word-5 .sub5 h2{
    font-size: 15px;
    font-weight: 700;
    color: black;
    line-height: 1.7rem;
    /* padding-left: rem; */
    white-space: no wrap;
    /* width: 25%; */
}

.both-words {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.word-1-2 {
    display: flex;
    flex-direction: column;
}

.word-3-4 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.word-1 {
    width: 96%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1.5rem;
}

.word-2{
    width: 96%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.2rem;
}

.word-3 {
    width: 96%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: -1rem;
    margin-bottom: 1.2rem;
}

.word-4 {
    width: 96%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    padding-bottom: -6rem;
}

.word-5 {
    width: 96%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
}

.word-5 h3{
    white-space: nowrap;
   }

.word-2 p{
    font-size: 15;
}

.word-1 p {
    font-size: 15px;
}

.word-3 p{
    font-size: 15px;
}

.word-4 p{
    font-size: 15px;
}

}



@media screen and (max-width: 768px){
    .both-words {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }

    .word-1-2 {
        display: flex;
        flex-direction: column;
    }

    .word-3-4 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .word-1 {
        width: 96%;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 1.5rem;
    }

    .word-2{
        width: 96%;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 0.2rem;
    }

    .word-3 {
        width: 96%;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-top: -1rem;
        margin-bottom: 1.2rem;
    }

    .word-4 {
        width: 96%;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 1rem;
        padding-bottom: -6rem;
    }

    .word-5 {
        width: 96%;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-top: -1.5rem;
        margin-bottom: 1.5rem;
        padding-bottom: 1rem;
    }

    .word-5 h3{
        white-space: nowrap;
       }
   

}

@media screen and (max-width: 760px){
    .both-words {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }

    .word-1-2 {
        display: flex;
        flex-direction: column;
    }

    .word-3-4 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .word-1 {
        width: 96%;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 1.5rem;
    }

    .word-2{
        width: 96%;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 0.2rem;
    }

    .word-3 {
        width: 96%;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-top: -1rem;
        margin-bottom: 1.2rem;
    }

    .word-4 {
        width: 96%;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 1rem;
        padding-bottom: -6rem;
    }

    .word-5 {
        width: 96%;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-top: -1.5rem;
        margin-bottom: 1.5rem;
        padding-bottom: 1rem;
    }

    .word-5 h3{
     white-space: nowrap;
    }

}