@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
*

{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: poppins;
}

/* @media screen and (min-width:760px){ */
    .word {

        flex-wrap: wrap;
        /* flex-basis: 100px; */
        /* flex-grow: 1; */
    }

.word .word-1 {
    background-color: hsl(263, 55%, 52%);
    color: hsl(0, 0%, 100%);
    width: 73%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    margin-left: 1.5rem;
    padding: 20px;
    flex-grow: 1;
    flex-basis: 100px;
}

.word .word-1 .sub1 {
    display: flex;
}

.word .word-1 h2 {
    position: relative;
    right: -30px;
}

.word .word-1 h4 {
    position: relative;
    right: -80px;
}

.word .word-1 .man1 {
    border-radius: 50%;
}

.word .word-1 h3 {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    line-height: 1.7rem;

}

.word .word-1 p {
    line-height: 1.7rem;
}

.word .word-1-2 {
    display: flex;
}

.word .word-2 {
    margin-left: 1.5rem;
    margin-top: 1rem;
    width: 37%;
    border-radius: 0.5rem;
    padding: 10px 18px 0 18px;
    background-color: hsl(0, 0%, 81%);
}

.word .word-2 .sub2 {
    display: flex;
}

.word .word-2 .man2 {
    border-radius: 50%;
}

.word .word-2 h2 {
    position: relative;
    right: -10px;
    top: 7px;
}

.word .word-2 h4 {
    /* position: relative; */
    /* left: 5rem; */
    padding-left: 3.6rem;
    


}

.word .word-2 h3{
padding-bottom: 0.5rem;
padding-top: 0.4rem;
}

.word .word-2 p {
    line-height: 1.7rem;
}




.word .word-3-4 {
    display: flex;
    margin-bottom: 1rem;
}

.word .word-3{
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    width: 26%;
    border-radius: 0.5rem;
    padding: 20px 20px 20px 20px;
    background-color: hsl(0, 0%, 81%);
}

.word .word-3 .sub3 {
    display: flex;
}

.word .word-3 h2 {
    position: relative;
    right: -10px;
    top: 7px;
    
}

.word .word-3 h4 {
    padding-left: 3.6rem; 
    padding-bottom: 1px;
    padding-top: 1rem;   
    
}

.word .word-3 h3 {
    padding-top: 0.7rem;
    padding-bottom: 0.5rem;
    position: relative;
    font-weight: 800;
}
.word .word-3 .man3 {
    border-radius: 50%;
}

.word .word-3 p {
    line-height: 1.7rem;
}







.word .word-4 {
    margin-left: 2rem;
    margin-top: 0.5rem;
    width: 73%;
    border-radius: 0.5rem;
    color: white;
    padding: 20px 20px 20px 20px;
    background-color: hsl(219, 29%, 14%);

}

.word .word-4 .sub4{
display: flex;
}

.word .word-4 .man4 {
    border-radius: 50%;
}

.word .word-4 h2 {
    position: relative;
    right: -10px;
    top: 7px;
}

.word .word-4 h4 {
margin-bottom: 0.5rem; 
padding-left: 3.6rem; 
padding-bottom: 5px; 
}

 

.word .word-4 p {
    line-height: 1.7rem;
    margin-top: 1rem;
    font-weight: 400;
}

.word .word-5 {
    background-color: hsl(0, 0%, 81%);
    color: hsl(0, 0%, 100%);
    width: 97%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    margin-left: 1.5rem;
    padding: 20px;
}

.word .word-5 .sub5 {
    display: flex;

}

.word .word-5 .sub5 .man5 {
    border-radius: 50%;
}

.word .word-5 h2 {
    position: relative;
    right: -10px;
    top: 7px;
}

.word .word-5 h3 {
    margin-bottom: 1rem;
    font-weight: 800;

}

.word .word-5 h4 {
margin-bottom: 0.5rem; 
padding-left: 3.6rem; 
padding-bottom: 5px; 
}

.word .word-5 p {
    line-height: 1.7rem;
    margin-top: 1rem;
    font-weight: 400;
}

/* } */


@media screen and (max-width: 760px) {
    .word {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: fit-content;
    }

    .word-1-2 {
        display: flex;
        flex-direction: column;
        /* max-width: 100%; */
    }

    .word-3-4{
        display: flex;
        flex-direction: column;
        /* max-width: 100%; */
    }

    .word .word-2 {
        width: 75%;
        margin-bottom: 1rem;
    }

    .word .word-3 {
        width: 75%;
        margin-bottom: 1rem;
    }
    
    .word .word-4 {
        width: 75%;
        margin-bottom: 0.3rem;
    }

    .word .word-5 {
        width: 75%;
        margin-right: 3.6rem;
        margin-bottom: 1.5rem;
    
    }



















}
