@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
*

{
padding: 0;
margin: 0;
text-decoration: none;
box-sizing: border-box;
font-family: poppins;
}

.word .word-1 {
    background-color: hsl(263, 55%, 52%);
    color: hsl(0, 0%, 100%);
    width: 73%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    margin-left: 1.5rem;
    padding: 20px;
}

.word .word-1 .sub1 {
    display: flex;
}

.word .word-1 h2 {
    position: relative;
    right: -30px;
}

.word .word-1 h4 {
    position: relative;
    right: -80px;
}

.word .word-1 .man1 {
    border-radius: 50%;
}

.word .word-1 h3 {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    line-height: 1.7rem;

}

.word .word-1 p {
    line-height: 1.7rem;
}

.word .word-1-2 {
    display: flex;
}

.word .word-2 {
    margin-left: 1.5rem;
    margin-top: 1rem;
    width: 37%;
    border-radius: 0.5rem;
    padding: 10px 18px 0 18px;
    background-color: hsl(0, 0%, 81%);
}

.word .word-2 .sub2 {
    display: flex;
}

.word .word-2 .man2 {
    border-radius: 50%;
}

.word .word-2 h2 {
    position: relative;
    right: -30px;
}

.word .word-2 h4 {
    /* position: relative; */
    /* left: 5rem; */
    


}

.word .word-2 h3{
margin-top: 0.7rem;
}

.word .word-2 p {
    line-height: 1.7rem;
}




.word .word-3-4 {
    display: flex;
    margin-bottom: 1rem;
}

.word .word-3{
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    width: 26%;
    border-radius: 0.5rem;
    padding: 20px 20px 20px 20px;
    background-color: hsl(0, 0%, 81%);
}

.word .word-3 .sub3 {
    display: flex;
}

.word .word-3 h2 {
    position: relative;
    right: -17px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.word .word-3 h4 {
    position: relative;
    right: -60px;
    margin-top: 0.4rem;
    padding-bottom: 0.5rem;
    
    
}

.word .word-3 h3 {
    position: relative;
    top: -10px;
}
.word .word-3 .man3 {
    border-radius: 50%;
}

.word .word-3 p {
    line-height: 1.7rem;
}






.word .word-4 {
    margin-left: 2rem;
    margin-top: 0.5rem;
    width: 73%;
    border-radius: 0.5rem;
    color: white;
    padding: 20px 20px 20px 20px;
    background-color: hsl(219, 29%, 14%);

}

.word .word-4 .sub4{
display: flex;
}

.word .word-4 .man4 {
    border-radius: 50%;
}

.word .word-4 h2 {
    position: relative;
    right: -17px;
}

.word .word-4 h4 {
margin-bottom: 1rem;   
}

.word .word-3 h3 {
    margin-bottom: 1rem;
    font-weight: 800;

}

.word .word-4 p {
    line-height: 1.7rem;
    margin-top: 1rem;
    font-weight: 400;
}

.word .word-5 {
    background-color: hsl(0, 0%, 81%);
    color: hsl(0, 0%, 100%);
    width: 97%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    margin-left: 1.5rem;
    padding: 20px;
}

.word .word-5 .sub5 {
    display: flex;

}

.word .word-5 .sub5 .man5 {
    border-radius: 50%;
}

.word .word-5 h2 {
    position: relative;
    right: -17px;
}

.word .word-5 h3 {
    margin-bottom: 1rem;
    font-weight: 800;

}

.word .word-5 p {
    line-height: 1.7rem;
    margin-top: 1rem;
    font-weight: 400;
}


@media screen and (max-width: 760px) {
    .word {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .word-1-2 {
        display: flex;
        flex-direction: column;
    }

    .word-3-4{
        display: flex;
        flex-direction: column;
    }

    .word .word-1 {
        width: 80%;
    }
    
    .word .word-2 {
        width: 85%;
        margin-bottom: 1rem;
    }

    .word .word-3 {
        width: 85%;
        margin-bottom: 1rem;
    }
    
    .word .word-4 {
        width: 85%;
        margin-bottom: 1rem;
    }

    .word .word-5 {
        width: 85%;
    }



















}
