@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

*
{
padding: 0;
margin: 0;
}
@media screen and (min-width:1024px){

.container {
    width: 100%;
}
.mobile-content{
    display: none;
}
.main-header{
    position: relative;

}
.main-header nav {
    position: absolute;

}
.fa-bars {
    display: none;
}
.sneak {
    margin-left: 4rem;
    font-weight: 900;
    font-size: 25px;

}
.dropdown .sneak{
    display: inline-flex;
    margin-top: 2rem;
    margin-right: 2rem;
}
.dropdown-content a{
margin-right: 25px;
color: white;
font-weight: 700;
text-decoration: none;
}
.column {
    display: flex;

    /* gap: 100px; */
    /* grid-template-columns: 1.2fr 1fr ;   */
}
.column2 {
    position: relative;
    display: flex;
    justify-content: space-between;
    top: -4px;
    margin-bottom: 3rem;
    /* gap: 100px; */
    /* grid-template-columns: 1.2fr 1fr 1fr;    */
}
.con1 {
    margin-left: 4rem;
    margin-top: 3rem;
}
.con3 {
    display: flex;
    flex-direction: column;
    
}

.con2 {
    margin-left: 2.3rem;
    margin-right: 2.4rem;
    padding-top: 3rem;

}
.shop-now {
    margin-top: 1.2rem;
    letter-spacing: 1rem;
}
.fa-long-arrow-right {
    margin-right: 15px;
}
.arrow {
    display: flex;
    width: 20%;
    position: relative;
    bottom: -90px;
    padding: 18px;
    border: 2px solid black;
    justify-content: space-between;
    background-color: black;
    
}
.fa-chevron-left {
    color: white;
    font-weight: 50;
}
.fa-chevron-right {
    color: white;
    font-weight: 50;
}
p {
    font-size: 15px;
        line-height: 22px;
        font-weight: 400;
        color: silver;;
}
h1 {
    font-size: 30px;
    font-weight: 900;
    font-family: poppins;
    margin-bottom: 1rem;
}
h2 {
    margin-bottom: 1rem;
    font-size: 20px;
    font-weight: 600;
    font-family: poppins;
    word-spacing: 1rem;
}
}
@media screen and (max-width: 760px) {
    .container{
        display: none;
    }
    .mobile-content{
        width: 100%;

    } 
    
    .mobile-container{
        
        display: flex;
        flex-direction: column;
    }
    .mobile-column{
        position: absolute;
    }
    .mobile-direction{
        display: flex;
        left: -28px;
        position: absolute;
        top: -70.7px;
        border: 2px solid black;
        justify-content: space-between;
        width: 17%;
        background-color: black;
        padding: 10px;
        /* padding-right: 1rem; */
    }
    .fa-chevron-left{
        color: white;
        font-weight: 100;
    }
    .fa-chevron-right{
        color: white;
        font-weight: 100;
    }
    .fa-bars{
        color: white;
        position: absolute;
        top: 33px;
        left: 35px;
        font-size: 25px;
        font-weight: 300;
        z-index: 1;
    }
    .roomy-container {
    position: relative;
    display: inline-block;
    }
    .roomy{
        position: absolute;
        top: 6px;
        left: 170px;
        padding: 5px;
        font-size: 30px;
        font-weight: 300;
        color: white;
        text-decoration: none;
        z-index: 1;
    }
    .discovery{
        padding-left: 2rem;
        padding-top: 19rem;
        padding-bottom: 3rem;
        margin-top: 3rem;
    }
    .discovery h3{
        padding-bottom: 1.2rem;
        font-size: 30px;
        font-weight: 900;
        
    }
    .discovery p{
        font-size: 17px;
        line-height: 22px;
        font-weight: 500;
        color: silver;
    }
    .discovery .shop-now{
        padding-top: 1.8rem;
        padding-bottom: 1rem;
        letter-spacing: 0.7rem;
        font-weight: 700;
    }
    .m-about{
        padding-top: 2.2rem;
        padding-left: 2rem;
        padding-bottom: 2rem;
         /* margin: 40px 0 0 50px; */
    }
    .m-about h3{
        font-weight: 600;
        font-size: 19px;
        padding-bottom: 1rem;
    }
    .m-about p{
        font-size: 17px;
        line-height: 22px;
        font-weight: 400;
        color: silver;
        padding-bottom: 1rem;
    }
    .m-room {
        max-height: fit-content;
        position: relative;
        top: -20px;
    }

}
    @media screen and (max-width: 380px) {
        .container {
            height: fit-content;
        }
        .mobile-direction{
            display: flex;
            left: -28px;
            position: absolute;
            top: -70.7;
            border: 2px solid black;
            justify-content: space-between;
            width: 18%;
            background-color: black;
            padding: 10px;
        }    

    }
    @media screen and (max-width: 484px) {
    .container {
        width: 484px;
        height: fit-content;
    }

    .mobile-direction{
        display: flex;
        margin-left: 19.2rem;
        position: absolute;
        margin-top: 20.41rem;
        border: 2px solid black;
        justify-content: space-between;
        width: 17%;
        background-color: black;
        padding: 10px;
    }    

    }
    @media screen and (min-width:820) {
        .container .mobile-content{
            display: none;
        }
        
    }
