@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

.bodyd{

    background-color: hsl(0, 100%, 74%); 
    background-image: url(../img/regdesk.jpg);
    background-blend-mode: multiply;
    padding-bottom: 6rem;
}


.container{
    color: white;
    flex-direction: row;
    display: flex;
 }  

.second{
    margin-top: 0.6rem;
    margin-left: 15rem;
    width: 35%;
}


.code{
    margin-left: 3.5rem;
    margin-top: 10.5rem;
    line-height: 2rem;
}

.code p{
    white-space: nowrap;
}


.code h1{
    text-align: left;
}

.second {
    margin-right: 2rem;
    margin-left: 5rem;
    width: 50%;
}

.sibling{
    background-color: hsl(248, 32%, 49%);
    border-radius: 0.7rem;
    padding: 1px;
    text-align: center;

}

.sibling h2 {
    font-size: 16px;
}


.formm{
    background-color: white;
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 90%;
    text-align: center;
    border-radius: 0.7rem;
}

input{
    padding-left: 1rem;
    width: 80%;
    height: 40px;
    border-style: solid;
    border-width: thin;
    border-radius: 0.6rem;
    margin-bottom: 0.8rem;
}

.subb{
    background-color: hsl(154, 59%, 51%);
    width: 80%;
    border-color: hsl(154, 59%, 51%);
    box-shadow: none;
    height: 50px;
    color: white;
    font-size: large;
    font-weight: 500;
}

.link{
    color: red;
    text-decoration: none;
}

.small{
color:wheat;
font-size: small;
font-weight: 400;
}

@media only screen and (max-width: 768px){
    .container{
        color: white;
        flex-direction: column;
        display: flex;
        margin-top: -7rem;
     }  

     .second {
        width: 75%;
        align-self: center;   
     }

     .formm {
        padding-bottom: 30px;
        padding-top: 30px;
     }

     .code {
        text-align: center;
     }

     .code h1 {
        text-align: center;
     }
    .code p {
        word-wrap: break-word;
        font-size: 16px;
    }
}


@media only screen and (max-width: 400px) {
    .bodyd{
        background-color: hsl(0, 100%, 74%);
        background-image: url(../img/regmob.jpg);
        background-size: cover;
        width: calc(100% + 36rem);
        border: 2px solid green;
        
    }
    
    .container{
        border: 2px solid red;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: -10rem;
        
    }

    .code{
        width: 100%;
        /* text-align: center; */
    }

    .code h1 {
        font-size: 19px;
        /* padding-right: 1rem; */
    }

    .code p{
       font-size: 16px;
       display: flex;
       align-items: center;
       justify-content: center;
       width: 100%;
       /* padding-right: 1.6rem; */
    }

    .sibling h2 {
        white-space: wrap;
        font-size: 15px;
        padding: 2px;
    }

    .second {
        margin: 0;
        width: 350px;
        text-align: center;
        height: 500px;
        padding: 15px;
    }

    .subb{
        width: 200px;
    }
    
}

/* @media only screen and (max-width: 375px){
    .bodyd{
        background-color: hsl(0, 100%, 74%);
        background-image: url(../img/regmob.jpg);
        background-size: cover;
        width: fit-content;
    }

    .container{
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin-top: -10rem;
    }

} */