@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

*
{
padding: 0;
margin: 0;
}

.bodyd {
    width: 100%;
    box-sizing: border-box;
    background-color: hsl(257, 40%, 49%);
    text-decoration: none;
  }

  
.container {
    display: flex;
    box-sizing: border-box;
    padding-bottom: 2rem;
}

.first {
margin-top: 2rem;
margin-left: 2.5rem;

}

.passive img {
width: 530px;
}

.second {
margin-left: 6rem;
margin-top: 8.5rem;
}

.second .sibling h1 {
margin-bottom: 1rem;
font-size: 32px;
font-weight: 900;
color: white;
line-height: 1.2em;
}

.second .sibling p {
font-size: 15px;
font-weight: 400;
color: white;
line-height: 1.5em;
margin-bottom: 1rem;
white-space: nowrap;
}

.subb{
background-color: white;
width: 75%;
border-color: white;
box-shadow: none;
height: 50px;
color: magenta;
font-size: small;
font-weight: 500;
border-radius: 2rem;
margin-bottom: 3rem;
margin-top: 1rem;
}

.icons{
display: flex;
width: 50px;
font-size: 24px;
margin-left: 5rem;
margin-top: 1.3rem;
justify-content: space-between;
padding-right: 1rem;
     
}

.face{
border-radius: 50%;
border: 1px solid purple;
padding: 0.5rem;
margin-right: 5px;

}

@media only screen and (max-width: 768px) {
    .bodyd {
        width: 100%;
        box-sizing: border-box;
        background-color: magenta;
        text-decoration: none;
      }
    
      
    .container {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding-bottom: 1.5rem;
    }

    .first {
        text-align: center;
    }

    .passive img {
        width: 500px;
    }
    
    .second {
        margin-left: -0.05rem;
        margin-top: 2rem;
    }
    
    .sibling p {
        text-align: center;
        white-space: wrap;
        font-size: 25px;
    }

    .sibling h1{
     font-size: 35px;
     white-space: wrap;
     text-align: center;
    }

    .subb {
        width: 50%;
        /* white-space: nowrap; */
        text-align: center;
        /* margin-right: -3rem; */
        /* text-align: center; */
    }

    .face {
        text-align: center;
        /* margin-left: 2rem; */
    }
}



@media only screen and (max-width: 760px) {
    .bodyd {
        width: 100%;
        box-sizing: border-box;
        background-color: magenta;
        text-decoration: none;
      }
    
      
    .container {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding-bottom: 1.5rem;
    }

    .passive img {
        width: 260px;
    }
    
    .second {
        margin-left: -0.05rem;
        margin-top: 2rem;
    }
    
    .sibling p {
        text-align: center;
        white-space: wrap;
    }

    .sibling h1{
     font-size: 20px;
     white-space: wrap;
     text-align: center;
    }

    .subb {
        width: 50%;
        white-space: nowrap;
        /* margin-right: -3rem; */
        /* text-align: center; */
    }

    .icons {
        margin-left: 2rem;
    }
}

@media only screen and (max-width: 320px) {
    .passive img {
        width: 270px;
    }
    
}
