@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
*
{
padding: 0;
margin: 0;
text-decoration: none;
font-family: sans-serif;
/* font-family: ; */
}


.overall-wrapper {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    background-color: navy;
    
}

.straight-line {
    padding-top: 30px;
    padding-bottom: 17px;
    color: orange;
}

.write-up .diff-color{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 11px;
}

.diff-color h3{
    color: orange;
    padding-left: 4px;
    padding-top: 2px;
    font-weight: 400;
}

.diff-color h2{
    color: white;
    font-size: 17px;
    font-weight: 400;
}

.write-up p{
    line-height: 24px;
    padding-bottom: 14px;
    color: white;
    font-weight: 100;
}

#mybutton {
    height: 40px;
    padding-right: 4px;
    padding-left: 4px;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    background-color: orange;
    border: 1px solid orange;
    color: white;
    border-radius: 2px;
    
}

.icons {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 70px;
    justify-content: center;
    color: white;
    
}


.icons .face-book {
    padding-right: 30px;
    font-family: sans-serif;
}

.icons .twitter {
    padding-right: 26px;
}

.icons .google {
    padding-right: 21px;
}

.icons .linked {
    padding-right: 17px;
}

.icons .instagram {
    padding-right: 12px;
}

.icons .pintrest {
    padding-left: 12px;
}

.icons .yelp {
    padding-left: 17px;
}

.icons .behance {
    padding-left: 22px;
}

.icons .youtube {
    padding-left: 30px;
}


.down {
    /* display: flex; */
    /* flex-direction: row; */
    padding-bottom: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    
}

.down .up{
    margin-bottom:26px;
}

.mobile-content{
    display: none;
}

@media screen and (max-width: 760px){
    .overall-wrapper {
        display: none;
    }
}